
tmp/

*.tmp
*.bak
__pycache__
*.pyc
*.db
*.exe
*.out
*.in
*.swp
*.swo

builds

ext/boost/b2
ext/boost/bin.v2/
ext/boost/bjam
ext/boost/bootstrap.log
ext/boost/project-config.jam
ext/boost/tools/build/*

docs/html/
docs/latex/
