[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.6
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
	branch = latest
[submodule "ext/oglplus"]
	path = ext/oglplus
	url = https://github.com/matus-chochlik/oglplus
	branch = master
